################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.user
/.vs
/App/x64
/winbase/x64
/x64
